<ion-content class="backi" >
  <ion-item color="lightapppersonalized">
    <ion-label slot="start">
      <ion-text color="apppersonalized">
        <h2 style="font-weight: bold;">Rents Closed</h2>
      </ion-text>
    </ion-label>
    <ion-icon (click)="dismiss()" slot="end" src="./assets/closeButton.svg"></ion-icon>
  </ion-item>

    <ion-grid *ngIf="allRentsClosed.length>0">
      <ion-row class="ion-wrap">
        <ion-col size='6' size-lg="3" size-xl="4" size-md="6" size-sm="6" size-xs="12" *ngFor="let rent of allRentsClosed">
            <ion-item  type="ios">
                  <ion-title size="small" color="apppersonalized">{{rent.rent_costs | currency:'USD':true}}</ion-title>
              <ion-button class="backi" [id]="rent.rent_id" (click)="goToRentClosed($event)"  size="small" color="lightapppersonalized">
                  See Details
              </ion-button>
            </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>