<ion-header>
  <ion-toolbar color="apppersonalized">
    <ion-title size="small" slot='end' class='toolbar-mini-padding'>Admin Dash</ion-title>
    <ion-icon slot='end' src='../../assets/admin.svg' size='large'></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="backi">
  <ion-grid fixed>
   
    <ion-row>
      <ion-col size="12">
        <ion-chip color="apppersonalized">
          <ion-label color="apppersonalized">
            Create
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6" color="apppersonalized">
        <div class="div-button-edition " color="apppersonalized">
            <img class="centered-button" (click)="editImage()"  src="../../assets/addImg.png" alt="imge">
        </div>
      </ion-col>

      <ion-col size="6">
          <div class="div-button-edition " color="apppersonalized">
            <img class="centered-button" (click)="referingToProduct()"  src="../../assets/addProduct.png" alt="imge">
        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-chip color="apppersonalized">
          <ion-label color="apppersonalized">
            Edit
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6">
          <div class="div-button-edition " color="apppersonalized">
              <img class="centered-button" (click)="editImage()" expand="block" fill="clear" shape="round" src="../../assets/editProduct.png" alt="imge">

        </div>
      </ion-col>

      <ion-col size="6">
        <div class="div-button-edition " color="apppersonalized">
          <img class="centered-button" (click)="editImage()" expand="block" fill="clear" shape="round" src="../../assets/editImg.png" alt="imge">
      </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-chip color="apppersonalized">
          <ion-label color="apppersonalized">
            Delete
          </ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size="6" class="col-6 offset-3 text-center">
        <div class="div-button-edition " color="apppersonalized">
          <img class="centered-button" (click)="editImage()" expand="block" fill="clear" shape="round" src="../../assets/deleteUser.png" alt="imge">
      </div>
      </ion-col>

      
    </ion-row>
  </ion-grid>







</ion-content>