<ion-content>
  <ion-card>
    <ion-card-content>
      <form novalidate (ngSubmit)="payRent()" [formGroup]="stripeTest">
        <input type="text" formControlName="name" placeholder="Your name">
        <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
        <ion-button type="submit"  fill="clear" shape="round">
          Pay
        </ion-button>
        <ion-button  shape="round">
          Cancel
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>