<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">


    <ion-header>
      <ion-toolbar color="apppersonalized">
        <ion-title>Menu</ion-title>
        <ion-button color="apppersonalized" (click)="closeFirst()" slot="end">
          <ion-icon slot='end' src="../../../assets/back.svg" size='large'></ion-icon>

        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content class='transparent-rgba  ion-menu'>
      <ion-list>

        <ion-item *ngFor="let item of menuComponents" (click)="closeFirst()" [routerLink]='item.url'>
          <ion-icon [src]="item.src" size='large'> </ion-icon>
          <ion-label class="ion-padding-start">{{item.title}}</ion-label>
        </ion-item>

        <ion-item (click)="logOut()">
          <ion-icon src="../../assets/logout.svg" size='large'></ion-icon>
          <ion-label class="ion-padding-start">Log Out</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>