<ion-content>
  <form  >
    <ion-grid fixed>
      <ion-row >
        <ion-col class='ion-aling-self-center' size="6" size-md='4' size-lg='3' size-sm='12' size-xs='12'>
          <ion-item-group class='ion-aling-self-center' text-center>
            <h3>Register</h3>
          </ion-item-group>
          <ion-item-group padding>
            <ion-item>
              <ion-input name="name" type="text" placeholder="Insert Name"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="image" type="text" placeholder="upload image"  ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com"  required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password"  required></ion-input>
            </ion-item>
          </ion-item-group>
          <ion-item-group padding>
            <ion-button color="apppersonalized" size="large" type="submit"  expand="block">Sign Up</ion-button>
          </ion-item-group>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
